// color variables:
$lavander: #A9B0FC;
$light-blue: #DBE8FE;
$gray: #F3F7FE;
$light-black: #5A5A5A;
$white: #FFFF;
$black: #000;
$button-color: #A1C4FF;
$border-color: #7D7E81;
$card-color: #EFF5FF;
