.header {
  position: relative;
  padding-top: 52px;
  &::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url('../../img/background\ color.jpg');
    width: 100%;
    height: 993px;
    z-index: -1;
  }
  .header-elements {
      display: flex;
      justify-content: space-between;
  
      &__logo svg {
        width: 110px;
        height: 54px
      }
    }
}


